<div class="flex justify-center">
  <div class="w-1/4">
    <input id="date" class="border shadow w-full text-2xl text-center my-4" type="date" value="{{ this.date }}" {{ on "change" this.setDate }} {{ on "change" this.updateTable }}>
  </div>
</div>

<div class="flex flex-wrap">
  <div class="w-1/4 text-2xl shadow shadow-inner">
    Booking Ref #
  </div>
  <div class="w-1/4 text-2xl shadow shadow-inner">
    Time
  </div>
  <div class="w-1/4 text-2xl shadow shadow-inner">
    Table Number
  </div>
  <div class="w-1/4 text-2xl shadow shadow-inner">
    Table Location
  </div>
  {{#each this.bookings as |booking| }}
    <div class="shadow shadow-inner w-1/4 py-2">
      {{ booking.attributes.booking_number }}
    </div>
    <div class="shadow shadow-inner w-1/4 py-2">
      {{format-time booking.attributes.time }}
    </div>
    <div class="shadow shadow-inner w-1/4 py-2">
      {{ booking.relationships.pub_table.data.attributes.table_number }}
    </div>
    <div class="shadow shadow-inner w-1/4 py-2">
      {{ booking.relationships.pub_table.data.attributes.location }}
    </div>
  {{/each}}
</div>