<Card>
  <div class="border-b-2 border-gray-800 pb-2">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-1">
      <div class="px-1 col-span-3 bg-yellow-700">
        <p class="font-bold">{{ @pub.name }}</p>
      </div>
      <div class="px-1 col-span-3 h-20 overflow-auto shadow-inner shadow-md ">
        <p>{{ @pub.description }}</p>
      </div>

      <div class="px-1 col-span-3">
        <p class="small">
          {{ @pub.address_line_1 }}<br>
          {{ @pub.address_line_2 }}<br>
          {{ @pub.address_line_3 }}<br>
          {{ @pub.address_line_4 }}<br>
          {{ @pub.address_postcode }}
        </p>
      </div>
      <div class="col-span-3 text-right">
        <a class="btn btn-primary" href="#">
          Book
        </a>
      </div>
    </div>
  </div>
</Card>